[submodule "DoWhileLearn_Client"]
	path = DoWhileLearn_Client
	url = https://github.com/ChackzWolf/DoWhileLearn_Client.git
[submodule "DWL_API_GATEWAY"]
	path = DWL_API_GATEWAY
	url = https://github.com/ChackzWolf/DoWhileLearn_API_GATEWAY.git
[submodule "DWL_USER_SERVICE"]
	path = DWL_USER_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_User_Service.git
[submodule "DWL_CLIENT"]
	path = DWL_CLIENT
	url = https://github.com/ChackzWolf/DoWhileLearn_Client.git
[submodule "DWL_COURSE_SERVICE"]
	path = DWL_COURSE_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_Course_Service.git
[submodule "DWL_TUTOR_SERVICE"]
	path = DWL_TUTOR_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_Tutor_Service.git
[submodule "DWL_ADMIN_SERVICE"]
	path = DWL_ADMIN_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_Admin_Service.git
[submodule "DWL_PAYMENT_SERVICE"]
	path = DWL_PAYMENT_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_Payment_Service.git
[submodule "DWL_ORDER_SERVICE"]
	path = DWL_ORDER_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_Order_Service.git
[submodule "DWL_AUTH_SERVICE"]
	path = DWL_AUTH_SERVICE
	url = https://github.com/ChackzWolf/DoWhileLearn_Auth_Service.git
